
* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
  }
  body {
      line-height: 1.5;
      font-family: 'Inria Serif', serif;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Tomorrow', sans-serif;
  }
  h2 {
      font-size: 2rem;
      margin: 0.75rem 0;

      line-height: 1.1;
      text-align:center;
  }
p {
    margin: 0.75rem 0;
  }
a {
    text-decoration: none;
  } 
li {
    list-style: none;
}
span {
    color: #93cb52;
}
input{
  width: 100%;
  padding: 0.5rem;
    }
textarea {
  width: 100%;
  padding: 2rem;
} 
.submit {
    color: white;
    background: #333;
    padding: 0.5rem;
    border: none;
    

    
    
}

.items {
    display: flex;
    padding: 1rem
} 
.i {
  font-size: 2rem;
  
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 1rem; 
}



  