nav{
  display: flex;
  position: sticky;
  top:0;
  background: #333;
  color: #fff;
  justify-content: space-between;
  z-index: 1;
  padding: 1rem;
}
.heroImg {
  min-height: calc(100vh - 11rem);
  min-width: 97vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 5rem 0 1rem;
  color: white;
}